---
---
<a href="/Lucero Florencia-at.pdf" download
   class="px-4 py-2 bg-primary text-bg-darker rounded-lg font-semibold shadow-glow hover:bg-primaryLight transition-colors duration-300">
  Descargar CV
</a>
